# Created by https://www.gitignore.io

### R ###
# History files
.Rhistory
.Rapp.history
data2/
data/
readTCGA_examples_section.R
readTCGA_examples_section2.R
test_createTCGA/

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
RTCGA.Rproj~

# produced vignettes
vignettes/*.html
vignettes/*.pdf


### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.Rproj.user

_site/
hre/
